.page {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
  font-family: var(--font-geist-sans);
  margin-bottom: 150px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  width: 503px;
  height: auto;
  min-height: 600px;
  background-color: rgba(238, 232, 216, 1);
  padding-top: 18px;
  position: relative;
  color: #760F0F;
}


.desktop {
  display: none;

  @media only screen and (min-width: 700px) {
    display: flex;
  }
}

.mobile {
  display: flex;

  @media only screen and (min-width: 700px) {
    display: none;
  }
}

.imageWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.ganeshaWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.titleWrapper {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.title {
  color: #760F0F;
  font-size: 30px;
  font-family: var(--font-dancing-script), cursive;
  font-style: italic;
  font-weight: bold;
}

.subTitle {
  font-size: 20px;
  color: #760F0F;
  font-family: var(--font-dancing-script), cursive;
}

.groomDetailsWrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 50px; */
}

.name {
  font-family: var(--font-lobster), cursive;
  font-size: 30px;
  color: #760F0F;
  text-align: center;
  margin-bottom: 6px;
}

.context {
  font-family: var(--font-josefin-sans), 'josefin-sans-light', sans-serif;
  font-size: 22px;
}

.brideDetailsWrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 50px; */
}

.sumuhurthamWrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 50px; */
}

.venueWrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
}

.dinnerWrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 50px; */
}